<div class="landing-bg">
<div class="jumbotron">
        <div class="container">
                <h1>The Final Leg: The Challenge Area</h1>
                <p class="lead">April 26, 2017</p>
        </div>
</div>
</div>
<div class="container">
	<h1>The Challenge Area</h1>
 	<p>For our final project, we decided we’d like to challenge ourselves by changing our Node/express web application into a hybrid mobile app.  We wanted to do this for a couple of reasons.  First, most of our users probably wouldn’t want to open a web app and log into their mobile browser in order to log the food they are eating.  Because our end users would most likely be using this on the go, we thought a mobile app would be quicker and easier to use.  In addition, we wanted to have better access to the features offered by a mobile device such as notifications, geolocation, offline functionality, and the camera.  As we discussed future functions we’d like to someday add, it became apparent that these device features would be really useful. </p>

	<p>Once we decided to create a mobile app, we had to make another major decision: hybrid or native?  We came to the conclusion that a hybrid mobile app would be the best choice for us.  We wanted to be able to provide a unified experience and have more control over the appearance of our app.  We also liked the idea that we could write one codebase and use it anywhere, specifically because it will be easier to maintain and update. </p>



</div> 
