<div class="landing-bg">
<div class="jumbotron">
        <div class="container">
                <h1>1: Your Job is Not to Write Code</h1>
                <p class="lead">February 2, 2017</p>
        </div>
</div>
</div>
<div class="container">
        <h1>Description</h1>
        <p>Our project will be a campus nutrition web app for Tufts University.
                <h2>Features</h2>
        <ul>
                <li>See current day menu options by dining hall</li>
                <li>View nutritional and allergy warnings for each menu item</li>
                <li>Maintain a food diary</li>
                <li>Rate meals and save favorites</li>
                <li>Receive optional notifications when favorite offerings are available </li>
                <li>Auto check-in to dining halls and see which other users are also at the same dining hall</li>
        </ul>
        <h1>Database Schema</h1>
        <h3>Food</h3>
        <table class="table">
                <tr>
                <th>Name</th>
                <th>Data Type</th>
        </tr>
        </table>
        <p></p>
        <h1>Wireframes</h1>
        <div class="col-lg-6">
                <img class="image image-responsive" src="../Team4Notebook/images/locations.jpg"/>
        </div>
        <div class="col-lg-6">
                <img class="image image-responsive" src="../Team4Notebook/images/log.jpg"/>
        </div>
        <div class="col-lg-6">
                <img class="image image-responsive" src="../Team4Notebook/images/menu.png"/>
        </div>
        <div class="col-lg-6">
                <img class="image image-responsive" src="../Team4Notebook/images/goals.jpg"/>
        </div>
        <h1>Design Rationale</h1>
        <p></p>
</div>
