<div class="landing-bg">
<div class="jumbotron">
        <div class="container">
                <h1>Entry 9: Production-- after our presentation/h1>
                <p class="lead">April 2, 2017</p>
        </div>
</div>
</div>
<div class="container">
	<p> We received some critiques during our presentation on Thursday about our production deployment. First was that we exposed a Login view and a Sign Up view before it was actually fully implemented. Because of the negative and confusing experience this could give to a user, we removed these options from the navigation bar temporarily. A second piece of feedback was to get rid of the "rating stars" functionality, since we had more important things to focus on. We removed those as well. Finally, we were also told to get rid of the pound sign (or "hashtag") from the URL in order to make it more user-friendly. We are still in the process of doing that as of this writing.</p>

</div>
