<div class="landing-bg">
<div class="jumbotron">
        <div class="container">
                <h1>1: Your Job is Not to Write Code</h1>
                <p class="lead">February 2, 2017</p>
        </div>
</div>
</div>
<div class="container">
        <h1>Description</h1>
        <p>Our project will be a campus nutrition web app for Tufts University.</p>
        <h1>Problems our app aims to solve</h1>
        <h3>Weight Gain - "The Freshman 15"</h3>
        <p>Many students experience weight gain when they first attend university and join an unlimited meal plan. It's easy to lose track of how much you're eating when every meal is an all you can eat buffet. Our app allows students to log the food they eat on a regular basis. That way they can watch caloric intake and nutrition macros to maintain a healthy diet.</p>
        <h3>Knowing What Meals are being Served</h3>
        <p>Additionally, it's hard to navigate through a non mobile friendly website to find the current day's meal offerings available for breakfast, lunch, and dinner. Our site allows you to browse by your favorite dining hall.</p>
        <h3>Having a better system for rating food offerings </h3>
        <p>Currently the method for providing dining management with feedback is writing a post it note and placing it on a cork board. We think that allowing users to rate foods as they log them will provide the staff with a more accurate picture of which meal items should be included more frequenlty in the rotation.</p>
        <h3>Knowing who else is eating while you're there</h3>
        <p>It would be nice to know which of your friends are upstairs in Dewick when you're looking for company while you chow down. We hope to implement a check-in feature that lets others know when you're at a particular dining hall. When other friends check in, they can see you're in the same spot.</p>
                <h2>Features</h2>
        <ul>
                <li>See current day menu options by dining hall</li>
                <li>View nutritional and allergy warnings for each menu item</li>
                <li>Maintain a food diary</li>
                <li>Rate meals and save favorites</li>
                <li>Receive optional notifications when favorite offerings are available </li>
                <li>Auto check-in to dining halls and see which other users are also at the same dining hall</li>
        </ul>
        <h1>Database Schema</h1>
        <table class="table table-compressed table-striped">
	<thead>
		<tr><th>foods</th><th></th><th></th><th></th><th></th><th></th></tr>
	</thead>
	<tbody>
		<tr><td>id</td><td>int</td><td>1.2E+08</td><td>9</td><td>pk</td><td>AUTO_INCREMENT</td></tr>
		<tr><td>name</td><td>var_char</td><td>John Smith</td><td>30</td><td></td><td>NOT NULL</td></tr>
		<tr><td>calories</td><td>int</td><td>200</td><td>9</td><td></td><td>NOT NULL</td></tr>
		<tr><td>fat</td><td>int</td><td>2</td><td>9</td><td></td><td>NOT NULL</td></tr>
		<tr><td>sodium</td><td>int</td><td>120</td><td>9</td><td></td><td>NOT NULL</td></tr>
		<tr><td>sugar</td><td>int</td><td>3</td><td>9</td><td></td><td>NOT NULL</td></tr>
		<tr><td>vegetarian</td><td>boolean</td><td>TRUE</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>vegan</td><td>boolean</td><td>FALSE</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>allergen</td><td>var_char</td><td>Tree Nut</td><td>30</td><td></td><td>NOT NULL</td></tr>
		<tr><td>created_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>updated_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
	</tbody>
</table>
<table class="table table-compressed table-striped">
	<thead>
		<tr><th>menus</th><th></th><th></th><th></th><th></th><th></th></tr>
	</thead>
	<tbody>
		<tr><td>id</td><td>int</td><td>1.2E+08</td><td>9</td><td>pk</td><td>AUTO_INCREMENT</td></tr>
	</tbody>
</table>
<table class="table table-compressed table-striped">
	<thead>
		<tr><th>menu_foods</th><th></th><th></th><th></th><th></th><th></th></tr>
	</thead>
	<tbody>
		<tr><td>id</td><td>int</td><td>1.2E+08</td><td>9</td><td>pk</td><td>AUTO_INCREMENT</td></tr>
		<tr><td>menu_id</td><td>int</td><td>1.2E+08</td><td>9</td><td>fk</td><td>references meals</td></tr>
		<tr><td>food_id</td><td>int</td><td>1.2E+08</td><td>9</td><td>fk</td><td>references foods</td></tr>
		<tr><td>created_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>updated_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
	</tbody>
</table>
<table class="table table-compressed table-striped">
	<thead>
		<tr><th>locations</th><th></th><th></th><th></th><th></th><th></th></tr>
	</thead>
	<tbody>
		<tr><td>id</td><td>int</td><td>1.2E+08</td><td>9</td><td>pk</td><td>AUTO_INCREMENT</td></tr>
		<tr><td>people</td><td>int</td><td>1.2E+08</td><td>9</td><td></td><td>NOT NULL</td></tr>
		<tr><td>name</td><td>varchar</td><td>John Smith</td><td>30</td><td></td><td>NOT NULL</td></tr>
		<tr><td>created_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>updated_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
	</tbody>
</table>
<table class="table table-compressed table-striped">
	<thead>
		<tr><th>location_dates</th><th></th><th></th><th></th><th></th><th></th></tr>
	</thead>
	<tbody>
		<tr><td>id</td><td></td><td>1.2E+08</td><td>9</td><td>pk</td><td>AUTO_INCREMENT</td></tr>
		<tr><td>location_id</td><td>pk</td><td>1.2E+08</td><td>9</td><td></td><td>references locations</td></tr>
		<tr><td>date_time</td><td>datetime</td><td>#######</td><td></td><td></td><td></td></tr>
		<tr><td>created_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>updated_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
	</tbody>
</table>
<table class="table table-compressed table-striped">
	<thead>
		<tr><th>location_date_menus</th><th></th><th></th><th></th><th></th><th></th></tr>
	</thead>
	<tbody>
		<tr><td>id</td><td>int</td><td>1.2E+08</td><td>9</td><td>pk</td><td>AUTO_INCREMENT</td></tr>
		<tr><td>location_dates_id</td><td>int</td><td>1.2E+08</td><td>9</td><td>fk</td><td>references location dates</td></tr>
		<tr><td>menus_id</td><td>int</td><td>1.2E+08</td><td>9</td><td>fk</td><td>references menus</td></tr>
		<tr><td>created_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>updated_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
	</tbody>
</table>
<table class="table table-compressed table-striped">
	<thead>
		<tr><th>persons</th><th></th><th></th><th></th><th></th><th></th></tr>
	</thead>
	<tbody>
		<tr><td>id</td><td>int</td><td>1.2E+08</td><td>9</td><td>pk</td><td>AUTO_INCREMENT</td></tr>
		<tr><td>date_food_id</td><td>int</td><td>1.2E+08</td><td>9</td><td>fk</td><td>refrences date_food</td></tr>
		<tr><td>calorie_goal</td><td>int</td><td>1.2E+08</td><td>9</td><td></td><td></td></tr>
		<tr><td>fat_goals</td><td>int</td><td>1.2E+08</td><td>9</td><td></td><td></td></tr>
		<tr><td>sodium_goals</td><td>int</td><td>1.2E+08</td><td>9</td><td></td><td></td></tr>
		<tr><td>sugar_goals</td><td>int</td><td>1.2E+08</td><td>9</td><td></td><td></td></tr>
		<tr><td>first_name</td><td>varchar</td><td>John</td><td>30</td><td></td><td></td></tr>
		<tr><td>last_name</td><td>varchar</td><td>Smith</td><td>30</td><td></td><td></td></tr>
		<tr><td>username</td><td>varchar</td><td>jsmith</td><td>30</td><td></td><td>NOT NULL</td></tr>
		<tr><td>password</td><td>varchar</td><td>password</td><td>30</td><td></td><td>NOT NULL</td></tr>
		<tr><td>Vegetarian</td><td>boolean</td><td>TRUE</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>Vegan</td><td>boolean</td><td>FALSE</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>Allergies</td><td>varchar</td><td>Tree Nuts</td><td>30</td><td></td><td></td></tr>
		<tr><td>created_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>updated_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
	</tbody>
</table>
<table class="table table-compressed table-striped">
	<thead>
		<tr><th>date_foods</th><th></th><th></th><th></th><th></th><th></th></tr>
	</thead>
	<tbody>
		<tr><td>id</td><td>int</td><td>1.2E+08</td><td>9</td><td>pk</td><td>AUTO_INCREMENT</td></tr>
		<tr><td>date_time</td><td>datetime</td><td>#######</td><td></td><td></td><td></td></tr>
		<tr><td>food_id</td><td>int</td><td>1.2E+08</td><td>9</td><td>fk</td><td>references food</td></tr>
		<tr><td>created_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>updated_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
	</tbody>
</table>
<table class="table table-compressed table-striped">
	<thead>
		<tr><th>person_date_foods</th><th></th><th></th><th></th><th></th><th></th></tr>
	</thead>
	<tbody>
		<tr><td>id</td><td>int</td><td>1.2E+08</td><td>9</td><td>pk</td><td>AUTO_INCREMENT</td></tr>
		<tr><td>people_id</td><td>int</td><td>1.2E+08</td><td>9</td><td>fk</td><td>references people</td></tr>
		<tr><td>date_food_id</td><td>int</td><td>1.2E+08</td><td>9</td><td>fk</td><td>references date_food</td></tr>
		<tr><td>rating</td><td>int</td><td>3</td><td>9</td><td></td><td></td></tr>
		<tr><td>created_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
		<tr><td>updated_at</td><td>datetime</td><td>#######</td><td></td><td></td><td>NOT NULL</td></tr>
	</tbody>
</table>

        <p></p>
        <h1>Wireframes</h1>
        <div class="col-lg-6">
                <img class="image image-responsive" src="../Team4Notebook/images/locations.jpg"/>
        </div>
        <div class="col-lg-6">
                <img class="image image-responsive" src="../Team4Notebook/images/log.jpg"/>
        </div>
        <div class="col-lg-6">
                <img class="image image-responsive" src="../Team4Notebook/images/menu.png"/>
        </div>
        <div class="col-lg-6">
                <img class="image image-responsive" src="../Team4Notebook/images/goals.jpg"/>
        </div>
</div>
