<div class="landing-bg">
<div class="jumbotron">
        <div class="container">
                <h1>Unit Testing - Front End</h1>
                <p class="lead">April 3, 2017</p>
        </div>
</div>
</div>
<div class="container">

<p> For the front end, we used jasmine with protractortest to do end to end UI testing.</p>

<p>This allows us to check if clicking on each of the location buttons led to the appropriate page. Similarly, this tested that sign up and log in buttons also works.</p>

<p>Although at this stage of our app, this testing isn&rsquo;t as valuable, once our other features are up , it will be able to efficiently test the UI.</p>

<p>Commands to run the tests: <br> webdriver-manager start (to start up the server) <br> protractor conf.js (to run the test) </p>
<p>Sosena</p>

</div>