<div class="landing-bg">
<div class="jumbotron">
        <div class="container">
                <h1>The Final Leg: Solution and Looking Toward the Future</h1>
        </div>
</div>
</div>
<div class="container">
 <p>To create our mobile app, we used Ionic.  Our original front-end was written in Angular so Ionic seemed like a natural choice.  Additionally, using Ionic will give us access to those device features we are interested in using for future features.  Once we got started on creating our mobile app, we came across a couple of challenges.  Ionic is relatively new and is rapidly changing.  Because of this, the documentation we were referencing wasn’t always in sync with our working version.  Additionally, there’s a relatively small community around Ionic with few example projects and fewer solutions on Stack Overflow.  Although we spent a lot of energy on creating our mobile app, we were still trying to add some features at the same time, which was sometimes difficult to manage.  Lastly, as our product matured the new data combined with the real data from Tufts dining caused us to approach our database row limit.  
 </p>

<p>Now that we’ve created a mobile app, there are a couple of features we think would be nice additions sometime in the future.</p>
<ul>
	<li>The data we got from Tufts dining didn’t have a lot of the information we were hoping to access, so in the future we think adding some more nutrition macros would be really helpful for users. </li>
	<li>Adding the ability to filter foods by allergens could help students with allergies navigate Tufts dining more safely. </li>
	<li>Filtering out foods that would put a user over their nutrition goal as they begin to approach the upper limits.</li>
	<li>Adding QR reader functionality so that students can scan food items in the dining hall and automatically log those foods in their diary would make user experience much smoother.  </li>
	<li>Enabling geolocation could help students see how crowded a particular dining hall is and plan their visits accordingly. </li>
</ul>


</div>  
