<div>
<div class="jumbotron">
        <div class="container text-center">
                <h1>Website Name</h1>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lorem neque, scelerisque ut nibh in, auctor pretium ex. Aenean malesuada turpis neque, ac volutpat risus mollis quis. Etiam eget est et ligula faucibus lacinia et id mauris. Aliquam eu tellus venenatis, cursus arcu vitae, auctor augue. Sed vel ligula vitae odio posuere fringilla. Phasellus porta nulla non mi fermentum venenatis. Nullam vel risus eu dui mattis accumsan in quis lectus. Donec eleifend magna non porta dictum. Vestibulum eget volutpat ante.</p>
                <a href="#about" class="btn btn-lg btn-accent">Learn more</a>
        </div>
</div>
</div>
